###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* -text

###############################################################################
# Fix lang in Github repository
###############################################################################
* linguist-vendored
*.cpp  linguist-vendored=false
